<section class="terminal--section">
<pre><code class="terminal--console">
Starting DevelopmentServer


 /   /  _  / \     NWA
/ \ / \/ \/ - \    Local Development Environment


-> Listening on port 3000



<span class="terminal--bash">[~]$ </span><span class="git-repo--link" data-clipboard-text="git clone https://github.com/itsnwa/front-end-starter-kit.git">git clone https://github.com/itsnwa/front-end-starter-kit.git</span><span class="terminal--cursor">_</span>

<span class="terminal--comment">Hint: Click the link</span></code></pre>
</section>

<div class="copy-notification success">Copied to clipboard</div>
<div class="copy-notification error">No copy for you :(</div>
