/* Lost settings */
@lost flexbox flex;
@lost gutter 60px;

* { box-sizing: border-box; }

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.54;
}

body {
  background: $color-light-grey;
  font-family: $typeface-main-normal;
  letter-spacing: 1px;

  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  ::selection { background: #ffb7b7; }

  p {
    font-size: $type-size-normal;
  }

  h1 {
    font-family: $typeface-heading;
    font-size: $type-size-h1;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 400;
  }

  h2 {
    font-family: $typeface-heading;
    font-size: $type-size-h2;
    text-transform: uppercase;
  }

  h3 {
    font-family: $typeface-heading;
    font-size: $type-size-h3;
    margin-bottom: 20px;
    font-weight: 400;
    color: lighten($color-black, 20);

    &.title {
      text-transform: uppercase;
      font-size: $type-size-mini;
      color: $color-medium-grey;
      padding-bottom: 30px;
    }

  }

}

section {

  .container {
    lost-center: 920px;
    padding: 0 40px;
  }

}

@media screen and (min-width: $breakpoint-large) {
  body {
    .wrapper {
      flex-direction: row;
      section.terminal--section {
        position: relative;
        bottom: inherit;
        flex: 0 0 50%;
      }
    }
  }
}
