/* Lost settings */
@lost flexbox flex;
@lost gutter 60px;

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $color-light-grey;
  font-family: $typeface-main-normal;
  letter-spacing: 1px;

  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  ::selection { background: #ffb7b7; }

  p {
    font-size: $type-size-normal;
  }

  h1 {
    font-family: $typeface-heading;
    font-size: $type-size-h1;
    text-transform: uppercase;
  }

  h3 {
    font-family: $typeface-main-normal;
    font-size: $type-size-normal;

    &.title {
      text-transform: uppercase;
      font-size: $type-size-mini;
      color: $color-medium-grey;
      padding-bottom: 30px;
    }

  }

}

section {

  .container {
    lost-center: 920px;
    padding: 0 40px;
  }

}
