/* Lost settings */
@lost flexbox flex;
@lost gutter 60px;


body {
  background: $color-light-grey;
  margin: 0;
  min-height: 100vh;
  font-family: $typeface-main-normal;
  letter-spacing: 1px;

  ::selection { background: #ffb7b7; }

  p {
    font-size: $type-size-normal;
  }

  h1 {
    font-family: $typeface-main-light;
    font-size: $type-size-h1;
  }

  h3 {
    font-family: $typeface-main-normal;
    font-size: $type-size-normal;

    &.title {
      text-transform: uppercase;
      font-size: $type-size-mini;
      color: $color-medium-grey;
      padding-bottom: 30px;
    }

  }

}

section {

  .container {
    lost-center: 920px;
    padding: 0 40px;
  }

}
