@font-face {
	font-family: 'gotham';
	src: url('../fonts/Gotham-Medium.eot');
	src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Medium.woff2') format('woff2'),
		url('../fonts/Gotham-Medium.woff') format('woff'),
		url('../fonts/Gotham-Medium.ttf') format('truetype'),
		url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
    font-family: 'sf-mono-light';
    src: url('../fonts/sfmono-light-webfont.woff2') format('woff2'),
         url('../fonts/sfmono-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-light-italic';
    src: url('../fonts/sfmono-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/sfmono-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-regular';
    src: url('../fonts/sfmono-regular-webfont.woff2') format('woff2'),
         url('../fonts/sfmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-regular-italic';
    src: url('../fonts/sfmono-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/sfmono-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-semibold';
    src: url('../fonts/sfmono-semibold-webfont.woff2') format('woff2'),
         url('../fonts/sfmono-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-mono-semibold-italic';
    src: url('../fonts/sfmono-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/sfmono-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
