.hero--section {
  color: $color-black;
  flex: 1;
  padding: 40px 80px;

  h1.hero--header {
    margin-left: -3px;
  }

}

@media screen and (max-width: $breakpoint-large) {
  .hero--section {
    padding: 40px 60px;
  }
}
