.powered-by--section {
  background: $color-light-grey;
  margin-top: -90px;
  padding-top: 120px;
  padding-bottom: 80px;
  z-index: 100;

  h3.title {
    text-transform: uppercase;
    font-size: $type-size-mini;
    color: $color-medium-grey;
    padding-bottom: 30px;
  }

  .grid-item {
    lost-column: 1/6;
    height: 52px;

    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
    }

  }

}
