section.terminal--section {
  display: block;
  position: relative;
  height: auto;
  background: url('../images/workspace.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-white;
  margin: 0;
  padding-bottom: 40px;

  &:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0, .85);
    z-index: 50;
  }

  pre {
    position: relative;
    white-space: pre-wrap;
    margin: 0;
    padding: 20px 20px 20px 60px;
    z-index: 100;

    code {
      font-family: $typeface-main-light;
      font-size: 14px;

      span.terminal--bash { user-select: none; }

      span.terminal--comment {
        color: darken($color-medium-grey, 20);
      }

      span.git-repo--link {
        cursor: pointer;
        &:hover { color: darken($color-medium-grey, 20); }
      }

      span.terminal--cursor {
      	opacity: 0;
      	animation: cursor 1s infinite;
        user-select: none;
      }

      @keyframes cursor {
      	0% {
      		opacity: 0;
      	}
      	40% {
      		opacity: 0;
      	}
      	50% {
      		opacity: 1;
      	}
      	90% {
      		opacity: 1;
      	}
      	100% {
      		opacity: 0;
      	}
      }

    }

    // Vertical line
    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      background: $color-black;
      left: 30px;
    }

  }

}

.copy-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  color: $color-black;
  padding: 10px 20px;
  z-index: 1000;

  &.success { background: $color-primary; }
  &.error   { background: $color-danger; }

}

@media screen and (max-width: $breakpoint-large) {
  .copy-notification {
    top: 0;
    transform: translate(-50%,0);
  }
}
