section.terminal--section {
  display: block;
  height: auto;
  width: 100%;
  background: rgb(15,15,15);
  color: $color-white;
  margin: 0;
  padding-bottom: 40px;
  position: fixed;
  bottom: 0;

  pre {
    position: relative;
    white-space: pre-wrap;
    margin: 0;
    padding: 20px 20px 20px 60px;
    position: fixed;

    code {
      font-family: $typeface-main-light;
      font-size: 14px;

      span.terminal--bash { user-select: none; }

      span.terminal--comment {
        color: $color-primary;
      }

      span.terminal--cursor {
      	opacity: 0;
      	animation: cursor 1s infinite;
        user-select: none;
      }

      @keyframes cursor {
      	0% {
      		opacity: 0;
      	}
      	40% {
      		opacity: 0;
      	}
      	50% {
      		opacity: 1;
      	}
      	90% {
      		opacity: 1;
      	}
      	100% {
      		opacity: 0;
      	}
      }

    }

    // Vertical line
    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      background: $color-black;
      left: 30px;
    }

  }

}

@media screen and (max-width: $breakpoint-large) {
  section.terminal--section {
    pre {
      position: relative;
    }
  }
}
