body {
  background: var(--base-color);
  margin: 0;
  min-height: 100vh;
  p { font-size: var(--type-size-normal); }
  h1 { font-size: 46px; }
}

section {
  padding: var(--padding-normal);

  .grid-container {
    lost-flex-container: row;

    .grid-item {
      height: 40px;
      background: pink;
      lost-column: 1/2;
      margin-bottom: 30px;
    }

  }

}
