body {
  background: var(--color-light-grey);
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto Mono';
  letter-spacing: 1px;

  p {
    font-size: var(--type-size-normal);
  }

  h1 {
    font-size: var(--type-size-h1);
    font-weight: var(--type-weight-light);
  }

  h3 {
    font-size: var(--type-size-medium);
    font-weight: var(--type-weight-light);
  }

}

section {

  .container {
    lost-center: 920px;
  }

}
