.hero--section {
  background: linear-gradient(-120deg, #CFD1C7, #E0C9B8);
  text-align: center;
  color: var(--color-white);

  h1.hero--header {
  }

  h3.hero--lead-text {
    font-size: var(--type-size-h2);
    padding-bottom: 80px;
    opacity: .65;
  }

  img.computer {
    width: 960px;
    max-width: 90%;
    z-index: 50;
  }

  .one-step-setup {
    margin-top: -49px;

    .link-field {
      display: inline-block;
      color: var(--color-black);
      background: var(--color-white);
      padding: 12px 42px;
      border-radius: 15px;
      box-shadow: 0 20px 40px -20px rgba(0, 0, 0, .25);

      p.link {
        font-size: var(--type-size-normal);
        padding: 8px 0;
        border-bottom: 1px dashed var(--color-grey);
        border-top: 1px transparent;
      }

    }

    span.version {
      display: block;
      color: var(--color-black);
      margin-top: 30px;
      font-size: var(--type-size-small);
      opacity: .6;
    }

  }

}
