.powered-by--section {
  background: var(--color-light-grey);
  margin-top: -72px;
  padding-top: 120px;
  z-index: 100;

  h3.title {
    text-transform: uppercase;
    font-weight: var(--type-weight-normal);
    font-size: var(--type-size-mini);
    color: var(--color-medium-grey);
    padding-bottom: 30px;
  }

  .grid-item {
    lost-column: 1/6;
    height: 52px;

    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
    }

  }

}
